<h1>asdad</h1>

<p>asd</p>
<p>asd</p>
<p>asdas</p>
<p>asdas</p>



<h1>Setting - wqe</h1>
<ul>
<li>Genre: </li>
<li>Tone: </li>
<li>Population: </li>
<li>Place: </li>
<li>State: </li>
</ul>
<p>qwe</p>

<h1>Quest</h1>
<ul>
<li>Type: </li>
<li>Given by: </li>
<li>Potential doom: </li>
<li>Complication: </li>
</ul>
<p>asda</p>

<h1>Hero - sada - Power 1</h1>
<ul>
<li>Type: </li>
<li>Motivation: </li>
<li>Nature: </li>
<li>Strength: </li>
<li>Flaw: </li>
<li>Look: </li>
</ul>
<p>sadsa</p>

<h1>Antagonist - 213 - Power 4</h1>
<ul>
<li>Type: </li>
<li>Nature: </li>
<li>Motivation: </li>
<li>Strength: </li>
<li>Weakness: </li>
<li>Look: </li>
</ul>
<p>213</p>

<h1>Setting - wqe</h1>
<ul>
<li>Genre: </li>
<li>Tone: </li>
<li>Population: </li>
<li>Place: </li>
<li>State: </li>
</ul>
<p>qwe</p>

<h1>Ally - sada - Retired</h1>
<ul>
<li>Type: </li>
<li>Source: </li>
<li>Strength: </li>
<li>Weakness: </li>
</ul>
<p>asd</p>

<h1>Obstacle - adasd - Retired</h1>
<ul>
<li>Type: </li>
<li>Cause: </li>
<li>Strength: </li>
<li>Weakness: </li>
</ul>
<p>asda</p>

