<h1>TITLEED</h1>

<p>q</p>



<h1>Setting - q</h1>

<ul>
<li>Genre: </li>
<li>Tone: </li>
<li>Population: </li>
<li>Place: </li>
<li>State: </li>
</ul>
<p>q</p>

<h1>Quest</h1>

<ul>
<li>Type: </li>
<li>Given by: </li>
<li>Potential doom: </li>
<li>Complication: </li>
</ul>
<p>q</p>

<h1>Hero - q - Power 3</h1>

<ul>
<li>Type: </li>
<li>Motivation: </li>
<li>Nature: </li>
<li>Strength: </li>
<li>Flaw: </li>
<li>Look: </li>
</ul>
<p>q</p>

<h1>Antagonist - q - Power 3</h1>

<ul>
<li>Type: </li>
<li>Nature: </li>
<li>Motivation: </li>
<li>Strength: </li>
<li>Weakness: </li>
<li>Look: </li>
</ul>
<p>q</p>

<h1>Setting - q</h1>

<ul>
<li>Genre: </li>
<li>Tone: </li>
<li>Population: </li>
<li>Place: </li>
<li>State: </li>
</ul>
<p>q</p>

